body {
	margin: 0;
	font-family: helvetica;
}

canvas {
	z-index: 1;
	position: absolute; 
	left: 0;
	top: 0;
}

/* inputs */
button {
	-webkit-font-smoothing: antialiased;
	-webkit-transition-property: all;
	-webkit-transition-duration: .25s;
	border: none;
	font-size: 16px;
	font-family: Helvetica;
	margin: 0.15em;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	border-radius: 2px;
	color: #fff;
	padding: 0.3em 0.5em;
	background-color: #61d33a;
	position: relative;
	background-image: -webkit-gradient(  linear,  left top,  left bottom,  color-stop(0, rgba(0,0,0,0)),  color-stop(1, rgba(0,0,0,0.25)) );
	box-shadow: inset 1px 1px 0 rgba(0,0,0,0.15);
	outline: none;
	cursor: pointer;
}
button.red,
button.red:hover,
button.red:active {
	background-color: #f00;
}
button:hover {
	background-color: #61d33a;
}
button:active {
	background-color: #41b31a;
}